asgiref==3.8.1
click==8.1.8
Django==4.2.18
image==1.5.33
joblib==1.4.2
nltk==3.9.1
numpy==2.0.2
pandas==2.2.3
pillow==11.1.0
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
